<%=  simple_form_for @project do |f| %>
	


	<%= f.input :name %>
	<%= f.input :description %>


	
<% @b = ['500', '2,500', '5,000', '10,000'] %>
<% @b[0] = 500 %>
<% @b[1] = 2500 %>
<% @b[2] = 5000 %>
<% @b[3] = 10000 %>


	<%= f.select :budget, Around: @b %>







<% @cow1 = ["Web Design" ,"Web Development" ] %>	
<% @cow2 = ["Logo", "Branding", "Graphics"]%>
	
	<p>Work type<%= f.select :category_of_work, Web: @cow1, Design: @cow2 %></p>

	
	<% f.input :user_id %>

<%= f.input :approval %>



	<%= f.button :submit %>


	<% end %>

