

<h3><%= @project.name %></h3>
<p><%= @project.description %></p>
<p><%= @project.budget %></p>
<p><%= @project.approval  %></p>


  <%= render 'comments/show' %>


<h5>Created By: User <%= @project.user_id %>
|| || || || 
Logged in  User is: <%= current_user.id %></h5>

