<h2><%= @project.name %></h2>

<%= @project.description %>

<%= @project.budget %>

<%= @project.category_of_work  %>






<h2>Created By: User <%= @project.user_id %></h2>

<h2>Logged in  User <%= current_user.id %></h2>

