

<h3><%= @project.name %></h3>
<p><%= @project.description %></p>
<p><%= @project.budget %></p>

<% if @project.approval %>
	<p>Project has been approved!</p>
<% else %>
	<p>Project is not yet approved!</p>
<% end %>



	<%= render 'comments/meeting_room' %>


<h5>Created By: User <%= @project.user_id %>
|| || || || 
Logged in  User is: <%= current_user.id %></h5>

